.landing {
  background: url("./imagen.jpg") center/cover no-repeat fixed;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
}

.title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  margin-bottom: 40px;
}

.home{
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff; 
  color: #000; 
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home:hover{
  background-color: #000;
  color: #fff;
}
